<%= form_with model: order do |f| %>
  
  <% if @items.empty? %>
    <h2> You have no items yet </h2>
  <% else %>
    <table>
      <tr>
        <th> Item </th>
        <th> Price </th>
        <th> Quantity </th>
      </tr>
      <% @items.each do |product| %>
        <tr>
            <td>
              <%= product.name %>
            </td>
            <td>
              <%= product.price %>
            </td>
            <td>
              <%= f.hidden_field :item_ids, multiple: true, value: product[:id], name: "order[item_ids][]" %>
              <%= f.number_field :quantities, name: "order[quantities][]", value: 0 %>
            </td>
        </tr>
      <% end %>
    </table>

    <div class="submit">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<style>
  .submit {
    margin-top: 20px;
  }

  table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td, th {
    padding: 4px;
  }
</style>