<h1> All Orders </h1>
<% if @orders.empty? %>
    <h2> No orders yet </h2>
<% else %>
    <table>
        <tr>
            <th> Order ID </th>
            <th> Total Price (BDT) </th>
            <th> Order Status </th>
            <th> Ordered At </th>
            <th> Actions </th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.id %></td>
            <td><%= order.total_price %></td>
            <td><%= order.order_status %></td>
            <td><%= order.created_at.strftime('%Y-%m-%d') %></td>
            <td class="actions">
                <%= link_to "View", order_path(order) %>

                <% if order.order_status == "pending" %>
                    <%= button_to "Send for Shipping", change_order_status_path(order), method: :put %>
                <% end %>

                <% if order.order_status == "shipped" %>
                    <%= button_to "Deliver", change_order_status_path(order), method: :put %>
                <% end %>

                <%= button_to "Delete", order_path(order), method: :delete %>
            </td>
        </tr>
        <% end %>
    </table>
<% end %>

<style>
  table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
  }

  th, td {
    padding: 4px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
  }

</style>
