<h1> Order #<%= @order.id %> </h1>

<table>
    <tr>
        <th> Item </th>
        <th> Price (BDT) </th>
        <th> Quantity </th>
    </tr>
    <% @order.order_items.each do |order_item| %>
        <tr>
            <td>
                <%= order_item.item.name %>
            </td>
            <td>
                <%= order_item.item.price %>
            </td>
            <td>
                <%= order_item.quantity %>
            </td>
        </tr>
    <% end %>
</table>

<a href="<%= request.referer %>">Go Back</a>

<style>
    table, th, td {
        border-collapse: collapse;
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }
</style>