<%= form_with model: item do |f| %>
  <div class="form">
    <div class="form__group">
      <div class="form__label"><%= f.label :name %></div>
      <div class="form__input"><%= f.text_field :name %></div>
    </div>
    <div class="form__error">
      <% item.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    

    <div class="form__group">
      <div class="form__label"><%= f.label :description %></div>
      <div class="form__input"><%= f.text_area :description %></div>
    </div>      

    <div class="form__group">
      <div class="form__label"><%= f.label :price %></div>
      <div class="form__input"><%= f.number_field :price %></div>
    </div>

    <div class="form__group">
      <div class="form__label"><%= f.label :available_quantity %></div>
      <div class="form__input"><%= f.number_field :available_quantity %></div>
    </div>

    <div class="form__error">
      <% item.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>

<ul>
  <li>
    <%= link_to "View All Items", items_path %>
  </li>
</ul>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form__group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .form__label {
    font-weight: bold;
    width: 5rem;
  }

  .form__input {
    width: 10rem;
  }

  .form__error {
    color: red;
  }
</style>