<h1>Items</h1>

<table border = "2">
  <tr>
    <th>Id</th>
    <th>Item Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Available Quantity</th>
    <th>Actions</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= item.available_quantity %></td>
      <td>
        <%= link_to "Show", item_path(item) %>
        <% if can? :manage, @items %>
          <%= link_to "Edit", edit_item_path(item) %>
          <%= link_to "Destroy", item_path(item), data:{
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br>
<% if can? :manage, @items %>
  <%= link_to "Create New Item", new_item_path %>
<% end %>
