<h1>Items</h1>

<table border = "2">
  <tr>
    <th>Id</th>
    <th>Item Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Available Quantity</th>
    <th>Actions</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= item.available_quantity >= 0 ? item.available_quantity : 0 %></td>
      <td>
        <div class="item-actions">
          <%= link_to "Show", item_path(item) %>
          <% if can? :manage, @items %>
            <%= link_to "Edit", edit_item_path(item) %>
            <%= button_to "Delete", item_path(item), method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<% if can? :manage, @items %>
  <%= link_to "Create New Item", new_item_path %>
<% end %>

<style>
  .item-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
  }
</style>
