<h1>Item: <%= @item.name %></h1>

<table border="1">
  <tr>
    <th>Name</th>
    <td> <%= @item.name %> </td>
  </tr>
  <tr>
    <th>Description</th>
    <td> <%= @item.description %> </td>
  </tr>
  <tr>
    <th>Price</th>
    <td> <%= @item.price %> </td>
  </tr>
  <tr>
    <th>Available Quantity</th>
    <td> <%= @item.available_quantity %> </td>
  </tr>
</table>

<ul>
  <% if can? :manage, @items %>
    <li>
      <%= button_to "Edit", edit_item_path(@item) %> 
    </li>
    <li>
      <%= button_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
  <li>
    <%= link_to "View All Items", items_path %>
  </li>
</ul>