<!DOCTYPE html>
<html>
  <head>
    <title>Simple Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      .error, .alert {
        color: red;
        font-size: 20px;
      }

      .success, .notice {
        color: green;
        font-size: 20px;
      }

      .name {
        font-weight: bold;
        font-size: 18px;
      }
    </style>
  </head>

  <body>
    <h1>Simple Ecommerce</h1>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <li> Hello <span class="name"><%= current_user.name %></span> </li>
        <li>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %>
        </li>

      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login",  user_session_path %></li>
      <% end %>
    </ul>

    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p>
    <p class="error"><%= flash[:error] %></p>
    <p class="success"><%= flash[:success] %></p>

    <%= yield %>
  </body>
</html>
